<h1 style="text-align:center; padding: 30px;" class='pull-left'>Admin Manager</h1>
<%= render 'admin/shared/nav' %>
<div class='clearfix'></div>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <!--Will show tables with the last changes for each model -->
      <h2 class='pull-left'>All Users</h2>
      <hr>
      <div class="panel panel-primary">
        <table class="table">
          <thead class="thead-dark">
            <th scope="col">ID</th>
            <th scope="col">Email</th>
            <th scope="col">Signed Up</th>
            <th scope="col">Admin?</th>
          </thead>
          <tbody>
            <%- @users.ordered.each do |user| %>
              <tr>
                <th scope="row"><%= user.id %></th>
                <td><%= user.email %></td>
                <td><%= user.created_at.strftime("%d %b. %Y") %></td>
                <td><%= user.admin? %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
