<div class="container">
  <%= link_to 'Dashboard', user_admin_path, class: active_admin(user_admin_path)%>
  <%= link_to user_admin_allusers_path, class: active_admin(user_admin_allusers_path) do %>
    Users
    <span class="badge badge-dark"><%= User.count %></span>
  <% end %>
  <%= link_to user_admin_alllinks_path, class: active_admin(user_admin_alllinks_path) do %>
    Links
    <span class="badge badge-dark"><%= Link.count %></span>
  <% end %>
</div>
<div class='clearfix'></div>
